{% extends 'base.html' %} {% block content %} {% load static %}
<div class="rooms-bar">
  <span>
    <h5>ROOMS</h5>
    {% if rooms.count < 1 %}
    <p>No room available</p>
    {% elif rooms.count == 1%}
    <p>{{rooms.count}} room available</p>
    {% elif rooms.count > 1 %}
    <p>{{rooms.count}} rooms available</p>
    {% endif %}
  </span>
  <a href="{% url 'create_room_page' %}">
    <i class="bi bi-plus"></i>
    <span>Create Room</span></a
  >
</div>
<div class="room-name my-3">ALL ROOMS</div>
<div class="rooms-container">
  {% for room in rooms %}
  <div class="room">
    <div class="account">
      <span>
        <img
          src="{{room.author.image.url}}"
          alt=""
          class="profile-img"
          style="
            object-fit: contain;
            border: 2px solid rgba(255, 255, 255, 0.5);
          "
        />
        <span
          ><a href="{% url 'profile_page' room.author.username %}"
            >Host @{{room.author.username}}</a
          ></span
        >
      </span>
      <small> {{room.created_at|timesince}} ago</small>
    </div>
    <h5 class="my-3">
      <a href="{% url 'room_page' room.id %}">{{room.name}}</a>
    </h5>
    <span>
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
    </span>
    <hr class="my-3" />
    <div class="bottom">
      <span>
        <i class="bi bi-people"></i>
        {% if room.participants > 0 %}
        <small>{{room.participants}} people joined</small>
        {% else %}
        <small>No participant</small>
        {% endif %}
      </span>
      <small class="topic">{{room.topic}}</small>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
