{% extends 'base.html' %} {% block content %} {% load static %}
<div class="rooms-bar">
  <span>
    <h5>ROOMS</h5>
    <p>5 rooms available</p>
  </span>
  <a href="">
    <i class="bi bi-plus"></i>
    <span>Create Room</span></a
  >
</div>
<div class="room-name my-3">ALL ROOMS</div>
<div class="rooms-container">
  <div class="room">
    <div class="account">
      <span>
        <img
          src="{% static 'images/default.jpg' %}"
          alt=""
          class="profile-img"
        />
        <span>Host @ejovwogfreeman</span>
      </span>
      <small> created 6hrs 5mins ago </small>
    </div>
    <h5 class="my-3">Lets Learn Formation Evaluation</h5>
    <span>
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
    </span>
    <hr class="my-3" />
    <div class="bottom">
      <span>
        <i class="bi bi-people"></i>
        <small>5 people joined</small>
      </span>
      <small class="topic">Reservoir</small>
    </div>
  </div>
  <div class="room">
    <div class="account">
      <span>
        <img
          src="{% static 'images/default.jpg' %}"
          alt=""
          class="profile-img"
        />
        <span>Host @ejovwogfreeman</span>
      </span>
      <small> created 6hrs 5mins ago </small>
    </div>
    <h5 class="my-3">Lets Learn Formation Evaluation</h5>
    <span>
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
    </span>
    <hr class="my-3" />
    <div class="bottom">
      <span>
        <i class="bi bi-people"></i>
        <small>5 people joined</small>
      </span>
      <small class="topic">Reservoir</small>
    </div>
  </div>
  <div class="room">
    <div class="account">
      <span>
        <img
          src="{% static 'images/default.jpg' %}"
          alt=""
          class="profile-img"
        />
        <span>Host @ejovwogfreeman</span>
      </span>
      <small> created 6hrs 5mins ago </small>
    </div>
    <h5 class="my-3">Lets Learn Formation Evaluation</h5>
    <span>
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
      <img src="{% static 'images/default.jpg' %}" alt="" class="profile-img" />
    </span>
    <hr class="my-3" />
    <div class="bottom">
      <span>
        <i class="bi bi-people"></i>
        <small>5 people joined</small>
      </span>
      <small class="topic">Reservoir</small>
    </div>
  </div>
</div>
{% endblock %}
