{% extends 'base.html' %} {% block content %} {% if page == 'login_page' %}
<form method="POST">
  <h5 class="form-header">Please Login to contiue</h5>
  {% csrf_token %} {{form.as_p}}
  <button>LOGIN</button>
  <div class="d-block text-center mt-3">
    <small>New here? <a href="{% url 'register_page' %}">Sign Up</a></small>
  </div>
</form>
{% else %}
<form method="POST">
  <h5 class="form-header">Register to Join Room</h5>
  {% csrf_token %} {{form.as_p}}
  <button>REGISTER</button>
  <div class="d-block text-center mt-3">
    <small
      >Already have an account?
      <a href="{% url 'login_page' %}">Sign In</a></small
    >
  </div>
</form>
{% endif %} {% endblock %}
