{% extends 'base.html' %} {% block content %}
<div class="profile-section text-center">
  <span>
    <img
      src="{{request.user.image.url}}"
      alt=""
      class="profile-img"
      style="object-fit: contain"
    />
    <div class="mt-3">
      {% if request.user.first_name and request.user.last_name %}
      {{request.user.first_name}}&nbsp;{{request.user.last_name}} {% else %}
      {{request.user.username}} {% endif %}
      <p class="mb-3">@{{request.user.username}}</p>
      <a href="{% url 'update_profile_page' %}">Edit Profile</a>
    </div>
  </span>
  <div class="mt-4 mb-4">
    <h6 class="mb-2">BIO</h6>
    <p>
      {% if request.user.bio %} {{request.user.bio}} {% else %}
      <span>Hi there...</span>
      {% endif %}
      <a
        href="{% url 'update_profile_page' %}"
        style="border: none; padding: 0px !important"
        ><i class="bi bi-pencil-square"></i
      ></a>
    </p>
  </div>
</div>

<hr />

<div class="room-name my-3">
  Rooms {{request.user.first_name}}&nbsp;{{request.user.last_name}} participates
  in.
</div>
<div class="rooms-container">
  <div class="room">
    <div class="account">
      <span>
        <img src="default.jpg" alt="" class="profile-img" />
        <span>Host @ejovwogfreeman</span>
      </span>
      <small> created 6hrs 5mins ago </small>
    </div>
    <h5 class="my-3">Lets Learn Formation Evaluation</h5>
    <span>
      <img src="default.jpg" alt="" class="profile-img" />
      <img src="default.jpg" alt="" class="profile-img" />
      <img src="default.jpg" alt="" class="profile-img" />
    </span>
    <hr class="my-3" />
    <div class="bottom">
      <span>
        <i class="bi bi-people"></i>
        <small>5 people joined</small>
      </span>
      <small class="topic">Reservoir</small>
    </div>
  </div>
  <div class="room">
    <div class="account">
      <span>
        <img src="default.jpg" alt="" class="profile-img" />
        <span>Host @ejovwogfreeman</span>
      </span>
      <small> created 6hrs 5mins ago </small>
    </div>
    <h5 class="my-3">Lets Learn Formation Evaluation</h5>
    <span>
      <img src="default.jpg" alt="" class="profile-img" />
      <img src="default.jpg" alt="" class="profile-img" />
      <img src="default.jpg" alt="" class="profile-img" />
    </span>
    <hr class="my-3" />
    <div class="bottom">
      <span>
        <i class="bi bi-people"></i>
        <small>5 people joined</small>
      </span>
      <small class="topic">Reservoir</small>
    </div>
  </div>
  <div class="room">
    <div class="account">
      <span>
        <img src="default.jpg" alt="" class="profile-img" />
        <span>Host @ejovwogfreeman</span>
      </span>
      <small> created 6hrs 5mins ago </small>
    </div>
    <h5 class="my-3">Lets Learn Formation Evaluation</h5>
    <span>
      <img src="default.jpg" alt="" class="profile-img" />
      <img src="default.jpg" alt="" class="profile-img" />
      <img src="default.jpg" alt="" class="profile-img" />
    </span>
    <hr class="my-3" />
    <div class="bottom">
      <span>
        <i class="bi bi-people"></i>
        <small>5 people joined</small>
      </span>
      <small class="topic">Reservoir</small>
    </div>
  </div>
</div>
{% endblock %}
