{% extends 'base.html' %} {% block content %}{% load static %}
<div class="profile-section text-center">
  <span>
    <img
      src="{{user.image.url}}"
      alt=""
      class="profile-img"
      style="object-fit: contain; border: 2px solid rgba(255, 255, 255, 0.5)"
    />
    <div class="mt-3">
      {% if user.first_name and user.last_name %}
      {{user.first_name}}&nbsp;{{user.last_name}} {% else %} {{user.username}}
      {% endif %}
      <p class="mb-3">@{{user.username}}</p>
      {% if request.user == user %}
      <a href="{% url 'update_profile_page' %}">Edit Profile</a>
      {% else %}
      <span></span>
      {% endif %}
    </div>
  </span>
  <div class="mt-4 mb-4">
    <h6 class="mb-2">BIO</h6>
    <p>
      {% if user.bio %} {{user.bio}} {% else %}
      <span>Hi there...</span>
      {% endif %} {% if request.user == user %}
      <a
        href="{% url 'update_profile_page' %}"
        style="border: none; padding: 0px !important"
        ><i class="bi bi-pencil-square"></i
      ></a>
      {% else %}
      <span></span>
      {% endif %}
    </p>
  </div>
</div>

<hr />

<div class="my-3" style="text-transform: uppercase">
  {% if user.first_name and user.last_name %} Rooms Created By
  {{user.first_name}}&nbsp;{{user.last_name}} ({{rooms.count}}). {% else %}
  Rooms Created By {{user.username}} ({{rooms.count}}). {% endif %}
</div>
<div class="rooms-container">
  {% for room in rooms %}
  <div class="room">
    <div class="account">
      <span>
        <img
          src="{{room.author.image.url}}"
          alt=""
          class="profile-img"
          style="
            object-fit: contain;
            border: 2px solid rgba(255, 255, 255, 0.5);
          "
        />
        <span
          ><a href="{% url 'profile_page' room.author.username %}"
            >Host @{{room.author.username}}</a
          ></span
        >
      </span>
      <small> {{room.created_at|timesince}} ago</small>
    </div>
    <h5 class="my-3">
      <a href="{% url 'room_page' room.id %}">{{room.name}}</a>
    </h5>
    <p>{{room.description}}</p>
    <hr class="my-3" />
    <div class="bottom">
      <span>
        <i class="bi bi-people"></i>
        {% if room.participants.count > 1 %}
        <small>{{room.participants.count}} people joined</small>
        {% elif room.participants.count == 1 %}
        <small>{{room.participants.count}} person joined</small>
        {% else %}
        <small>No participant</small>
        {% endif %}
      </span>
      <small class="topic">{{room.topic}}</small>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
