{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Boootstrap CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- Bootstrap Icon CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <!-- AOS CSS link -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    {% include 'components/styles.html' %}
    <title>Document</title>
  </head>
  <style></style>
  <body>
    <span>{% include 'components/navbar.html' %} </span>
    <div class="main-content">
      <div class="left">{% include 'components/left.html' %}</div>
      <div class="center">
        {% if page == 'home_page' %}
        <div class="search-widget">
          <form action="">
            <i class="bi bi-search"></i>
            <input
              type="text"
              placeholder="Type here to search"
              name=""
              id=""
            />
          </form>
          <div class="links">
            <a href="">BROWSE TOPICS</a>
            <a href="">RECENT ACTIVITIES</a>
          </div>
        </div>
        {% else %}<span></span> {% endif %} {% if messages %}
        <div class="messages mb-0 mt-2">
          {% for message in messages %}
          <div
            {%
            if
            message.tags
            %}
            class="alert alert-{{ message.tags }} mb-3"
            {%
            endif
            %}
            style="padding: 13px !important"
          >
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}{% block content %}{% endblock %}
      </div>
      <div class="right">{% include 'components/right.html' %}</div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"
  ></script>
  <script>
    let icon = document.getElementById("icon");
    let accountStats = document.getElementById("account-stats");
    icon.addEventListener("click", () => {
      if (icon.className.includes("bi-caret-down")) {
        icon.setAttribute("class", "bi bi-caret-up");
        accountStats.classList.add("show");
      } else {
        icon.setAttribute("class", "bi bi-caret-down");
        accountStats.classList.remove("show");
      }
    });
  </script>
</html>
