<div>
  <h6 class="mb-3">BROWSE TOPICS</h6>
  <ul>
    <li>
      <a href=""><span>All</span><small>20</small></a>
    </li>
    <li>
      <a href=""><span>Hse</span><small>6</small></a>
    </li>
    <li>
      <a href=""><span>Reservoir</span><small>7</small></a>
    </li>
    <li>
      <a href=""><span>Drilling</span><small>4</small></a>
    </li>
    <li>
      <a href=""><span>Well Test</span><small>3</small></a>
    </li>
    <li>
      <a href=""><span>Reservoir</span><small>7</small></a>
    </li>
    <li>
      <a href=""><span>Drilling</span><small>4</small></a>
    </li>
    <li>
      <a href=""><span>Well Test</span><small>3</small></a>
    </li>
  </ul>
</div>
