<div>
  <h6 class="p-2">RECENT ACTIVITES</h6>
  <div class="activities">
    <div class="act">
      <span style="display: flex">
        <img src="default.jpg" alt="" class="profile-img" />
        <div class="ms-2">
          <span style="display: block">@ejovwogfreeman</span>
          <small style="display: block">6hrs 5mins ago </small>
        </div>
      </span>
      <p class="my-2">replied to "lets learn Formation Evaluation"</p>
      <div class="reply">I wanna learn Formation Evaluation</div>
    </div>
    <div class="act">
      <span style="display: flex">
        <img src="default.jpg" alt="" class="profile-img" />
        <div class="ms-2">
          <span style="display: block">@ejovwogfreeman</span>
          <small style="display: block">6hrs 5mins ago </small>
        </div>
      </span>
      <p class="my-2">replied to "lets learn Formation Evaluation"</p>
      <div class="reply">I wanna learn Formation Evaluation</div>
    </div>
    <div class="act">
      <span style="display: flex">
        <img src="default.jpg" alt="" class="profile-img" />
        <div class="ms-2">
          <span style="display: block">@ejovwogfreeman</span>
          <small style="display: block">6hrs 5mins ago </small>
        </div>
      </span>
      <p class="my-2">replied to "lets learn Formation Evaluation"</p>
      <div class="reply">I wanna learn Formation Evaluation</div>
    </div>
  </div>
</div>
